<ion-view view-title="Pennyfarthing" class="title" >
  <ion-content class="home has-header">

    <ion-list>
      <div ng-repeat="group in app.groups" >
        <ion-item class="item-stable row row-center"
                ng-click="app.setVisibility(group.id); app.scrollToTop(group.id); app.toggleGroup(group)"
                  ng-class="{active: app.isGroupShown(group)}"
                    ng-show="group.visible">
                  <span class="titleText">{{group.title}}</span>
        </ion-item>
        <ion-item class="item-accordion item-body"
                  ng-show="app.isGroupShown(group)"><div ng-bind-html="group.content"></div>

        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

