/* Empty. Add your own CSS if you like */
.custom-header {
  background-color: #87CBFF;
}
.title {
  color: white;
}

.button-clear.button-clear {
  color: white;
}

.home {
  color: black;
}

/* Accordion */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

#svg {
  width: 30px;
  height: 30px;
}

#svg2 {
  width: 30px;
  height: 30px;
}

.modal {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 44px;
}

.modal-backdrop .modal-backdrop-bg {
  opacity: 0;
}

@media (min-width: 680px) {
.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 44px;
}
}